/* Estilo y centar la box */
.style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 3px solid green;
  padding: 10px;
  width: 20em;
  height: 20em;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* End of box */

@font-face {
  font-family: myFirstFont;
  src: url(/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf);
}

html {
  background-image: url("/Imagenes/navidad2.jpg");
  background-size: cover;
}

.titulo {
  font-family: myFirstFont;
  text-align: center;
}

.container-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em 1em;
}

.lista {
  padding-right: 1em;
}

.lista p {
  display: flex;
  justify-content: center;
  color: rgb(99, 97, 97);
  font-style: italic;
  font-weight: 200;
}

.delete-button,
.agregar-button {
  display: flex;
  width: 100%;
}

.icon {
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
}

.error p {
  font-weight: bold;
  color: red;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 13em;
  height: 2.5em;
  margin-bottom: 0.5em;
}

li > span {
  font-style: italic;
  margin-right: 1em;
}

.item-imagen {
  margin-right: 1em;
  width: 70px;
  height: 70px;
}

#modal-footer {
  display: flex;
  justify-content: center;
}
