/* Estilo y centar la box */
.style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 3px solid green;
  padding: 10px;
  min-width: 20em;
  min-height: 20em;
}

.center {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* End of box */

@font-face {
  font-family: myFirstFont;
  src: url(/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf);
}

html {
  background-image: url("/Imagenes/navidad2.jpg");
  background-size: cover;
}

.titulo {
  font-family: myFirstFont;
  text-align: center;
}
/* -----------------------Lista----------------------- */

.container-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em 1em;
}

.elemento-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lista {
  padding-right: 1em;
}

.lista p {
  display: flex;
  justify-content: center;
  color: rgb(99, 97, 97);
  font-style: italic;
  font-weight: 200;
}
/* -----------------------End Lista----------------------- */

.delete-button,
.agregar-button {
  display: flex;
  width: 100%;
}

.icon {
  display: flex;
  cursor: pointer;
}

.icon-edit {
  margin-right: 1em;
}

/* -----------------------Items lista----------------------- */
.item-imagen {
  margin-right: 1em;
  width: 70px;
  height: 70px;
}

.item-name-y-destinatario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-name-y-destinatario :first-child {
  font-weight: bold;
}

.item-name-y-destinatario :last-child {
  font-weight: 100;
  font-style: italic;
  color: rgb(188, 188, 184);
}

.item-cantidad {
  font-weight: bold;
  font-size: larger;
}
/* -----------------------End Items lista----------------------- */
