#modal-footer {
  display: flex;
  justify-content: center;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 19em;
  height: 2.5em;
  margin-bottom: 0.5em;
}

.container-input-y-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.5em;
}

.input-con-button {
  width: 10.6em;
  margin-right: 0.5em;
}

.error {
  display: flex;
  justify-content: center;
}

.error p {
  font-weight: bold;
  color: red;
}
